

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  color: rgb(253, 253, 253); 
  padding: 10px;
  font-size: 1.2em;
}

.alert {
  background-color: #ff4545;
  margin: 50px;
}

/* form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
} */

input {
  margin: 5px;
  margin-bottom: 10px;
}

.log-in,
.log-out,
.register {
  background-color: #00acb0;
  border-radius: 4px;
  color: #f8f8f8;
  min-height: 50px;
  min-width: 100px;
  outline: 0;
  cursor: pointer;
}

.log-in:hover,
.log-out:hover,
.register:hover {
  background-color: #008183;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: 0;
  border-bottom: 1px solid #444;
  cursor: pointer;
}
.App-header {
  min-height: 30px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(74, 11, 110);
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}
.Component-header {
  min-height: 30px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  color: rgb(74, 11, 110);
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.HomeButton {
  display: flex;
  margin: 20px;
  text-align: center;
}
.App-Logo {
  height: 3em;
  width: 1.5em;
  pointer-events: none;
  border-radius: 35%;
  display: inline-block;
  vertical-align: middle;
}
.App-title {
text-align: center;
margin: 0;
}

.App {
  text-align: center;
}

.button {
  background: radial-gradient(circle, rgba(50,210,232,0) 4%, rgba(9,224,254,1) 65%, rgba(45,24,78,1) 96%);
}

html {

  background: linear-gradient(0deg, rgba(2,0,36,1) 9%, rgba(89,45,209,1) 30%, rgba(3,187,240,1) 70%, rgba(255,255,255,1) 82%);
  /* linear-gradient(0deg, rgba(2,0,36,1) 9%, rgba(89,45,209,1) 37%, rgba(3,187,240,1) 64%, rgba(255,255,255,1) 82%); */
  /* linear-gradient(0deg, rgba(2,0,36,1) 18%, rgba(89,45,209,1) 37%, rgba(3,187,240,1) 64%, rgba(255,255,255,1) 79%); */
  /* background-image: url('../../images/dreamy.png'); */
  height: 100%;
  background-size: cover;
}

.menuButton{
  float: right !important;
  margin-left: -50%;
  margin-top: 2em;
}

.menuButton{
  background-color: azure;
}

.prettyTable {
  justify-content: center;
  position: relative;
  overflow-y: scroll !important;
  height: 350px;
  width: 97%;
  margin-left: 5px;
  
}

.someText{
  min-height: 30px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: rgb(52, 162, 226);
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.trueOrFalse{
   min-height: 30px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.35em;
  color: rgb(52, 162, 226);
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}